
spellcheck/.settings/org.eclipse.jdt.core.prefs
spellcheck/.settings/org.eclipse.core.resources.prefs
spellcheck/.DS_Store
spellcheck/target/classes/.DS_Store
spellcheck/target/classes/application.properties
spellcheck/target/classes/application.yaml
spellcheck/target/classes/applicationContext.xml
spellcheck/target/classes/com/.DS_Store
spellcheck/target/classes/com/yzy/analyzer/Analyzer.class
spellcheck/target/classes/com/yzy/analyzer/CJKAnalyzer.class
spellcheck/target/classes/com/yzy/analyzer/PinYinAnalyser.class
spellcheck/target/classes/com/yzy/analyzer/SimpePinyinAnalyzer.class
spellcheck/target/classes/com/yzy/analyzer/Token.class
spellcheck/target/classes/com/yzy/dao/WordsDao.class
spellcheck/target/classes/com/yzy/dao/WordsDbDao$1.class
spellcheck/target/classes/com/yzy/dao/WordsDbDao$2.class
spellcheck/target/classes/com/yzy/dao/WordsDbDao$3.class
spellcheck/target/classes/com/yzy/dao/WordsDbDao.class
spellcheck/target/classes/com/yzy/dao/WordsFileDao.class
spellcheck/target/classes/com/yzy/filter/StringFilter.class
spellcheck/target/classes/com/yzy/SpellcheckApp.class
spellcheck/target/classes/com/yzy/spelling/CnSpellcheck.class
spellcheck/target/classes/com/yzy/spelling/index/ArrayIndex.class
spellcheck/target/classes/com/yzy/spelling/index/Document.class
spellcheck/target/classes/com/yzy/spelling/index/Index.class
spellcheck/target/classes/com/yzy/spelling/JaroWinklerDistance.class
spellcheck/target/classes/com/yzy/spelling/LevensteinDistance.class
spellcheck/target/classes/com/yzy/spelling/NGramDistance.class
spellcheck/target/classes/com/yzy/spelling/PinyinSpellCheck.class
spellcheck/target/classes/com/yzy/spelling/SpellCheck.class
spellcheck/target/classes/com/yzy/spelling/StringDistance.class
spellcheck/target/classes/com/yzy/spelling/SuggestWord.class
spellcheck/target/classes/com/yzy/spelling/SuggestWordQueue.class
spellcheck/target/classes/com/yzy/spelling/util/Cn2PinyiUtil.class
spellcheck/target/classes/com/yzy/spelling/util/DateUtil.class
spellcheck/target/classes/com/yzy/spelling/util/DictOper.class
spellcheck/target/classes/com/yzy/spelling/util/PriorityQueue.class
spellcheck/target/classes/com/yzy/test/DbMain.class
spellcheck/target/classes/com/yzy/test/DemoApplication.class
spellcheck/target/classes/dict/name.txt
spellcheck/target/classes/log4j.properties
spellcheck/target/classes/META-INF/MANIFEST.MF
spellcheck/target/classes/META-INF/maven/com.yzy/spellcheck/pom.properties
spellcheck/target/classes/META-INF/maven/com.yzy/spellcheck/pom.xml
spellcheck/target/classes/name.txt
spellcheck/target/classes/pyDic.txt
spellcheck/src/main/.DS_Store
spellcheck/.settings/org.springframework.ide.eclipse.prefs
spellcheck/.settings/org.eclipse.m2e.core.prefs
spellcheck/.settings/org.eclipse.jdt.apt.core.prefs
spellcheck/.settings/org.eclipse.core.resources.prefs
spellcheck/.project
spellcheck/.DS_Store
spellcheck/.classpath
.DS_Store
spellcheck/src/main/.DS_Store
spellcheck/.settings/org.eclipse.core.resources.prefs
spellcheck/.DS_Store
.DS_Store
spellcheck/src/main/.DS_Store
spellcheck/.settings/org.eclipse.core.resources.prefs
spellcheck/.DS_Store
.DS_Store
spellcheck/target/spellcheck-0.0.1-SNAPSHOT-deploy.tar.gz
spellcheck/target/spellcheck-0.0.1-SNAPSHOT.jar
spellcheck/target/spellcheck-0.0.1-SNAPSHOT.jar.original
spellcheck/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
spellcheck/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
spellcheck/target/maven-archiver/pom.properties
spellcheck/.DS_Store
spellcheck/rolling.log
spellcheck/file.log
