<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<!-- 	<bean id="ds" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/search?characterEncoding=utf8" />
		<property name="username" value="search_db" />
		<property name="password" value="password" />
		<property name="maxActive" value="100"></property>
		<property name="maxIdle" value="30"></property>
		<property name="validationQuery" value="select 1" />
		<property name="testWhileIdle" value="true" />
	</bean> -->


	<!-- <bean id="dao" class="com.yzy.dao.DbManager">
		<property name="dataSource" ref="ds"></property>
		<property name="minLimitNum" value="10"></property>
	</bean>
	<bean id="fileDao" class="com.yzy.dao.WordsFileDao">
	</bean> -->
	
</beans>

 